
<!doctype html>
<html lang="en">
    <head>
        <% include ./partials/_header %>
    </head>

    <body>

    <% include ./partials/_navbar %>

    <%- body -%>


    <% include ./partials/_footer %>

    </body>
</html>
